// Custom styles.
// 文章内链接文本样式
.post-body a {
    // 链接文字颜色
    color: #0593d3;
    // 去掉下划线：下划线效果是用下边框实现的，去掉即可
    border-bottom: none;
    &:hover {
        // 鼠标悬停时链接文字颜色
        color: #fc6423; 
    }
}